/* ANIMATIONS */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

/* FONTS */

/* CURSORS */
.cursor-default {
  cursor: default !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-wait {
  cursor: wait;
}

.cursor-move,
.cursor-move *,
.cursor-move *:before {
  cursor: move !important;
}

/* COLORS */

/* TEXT */

/* LOADER */
div.loader-global {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

div.loader-global {
  background: var(--bs-body-bg);
}

div.loader-global .wrapper {
  max-width: 300px;
  position: relative;
  top: -20vh;
  width: 100%;
}

div.loader-global .wrapper img.logo {
  max-width: 100px;
}

div.loader-global .progress-bar {
  background: rgba(65, 65, 65, 0);
  border-top: 1px solid rgba(65, 65, 65, 0.5);
  height: auto;
  width: 100%;
}

div.loader-global .progress-bar .progress {
  animation: indeterminateAnimation 1s infinite linear;
  background-color: #343426;
  height: 1px;
  transform-origin: 0 50%;
}

/* MARGIN & PADDING */

/* WIDTH & HEIGHT */

/* POSITION */

/* Z-INDEX */

/* BUTTONS */

/* FORMS */
form.form-place-search span.mq-place-search {
  width: 100%;
}

form.form-place-search span.mq-place-search {
  width: 100%;
}

i.icon-search-input {
  position: relative;
  top: 32px;
}
